binary.*
prepare.log
binary
images
config
simple-cdd
cache
chroot
chroot.packages.install
chroot.packages.live
.mirror
.stage
.lock
.build/
config/binary
config/bootstrap
config/common
config/source
simple-cdd/debian-cd
simple-cdd/profiles/kali.downloads
simple-cdd/tmp
build.log
squid.conf
squid_setup.log
.DS_Store
