[Desktop Entry]
Name=Buster
Comment=Email OSINT
Type=Application
Categories=02-email
Terminal=true
Icon=utilities-terminal
Exec=/usr/share/kali-menu/exec-in-shell buster -h
Path=
StartupNotify=false
