[Desktop Entry]
Name=CherryTree
Comment=Hierarchical Note Taking
Type=Application
Categories=07-note-taking
Icon=cherrytree
Exec=/usr/share/kali-menu/exec-in-shell cherrytree %f
Path=
Terminal=false
StartupNotify=false