[Desktop Entry]
Name=Infoga
Comment=Email OSINT
Type=Application
Terminal=true
Icon=utilities-terminal
Categories=02-email
Exec=/usr/share/kali-menu/exec-in-shell infoga
Path=
StartupNotify=false
