[Desktop Entry]
Name=OSINT-Search
Comment=People OSINT
Type=Application
Terminal=true
Categories=02-email;01-phone-numbers
Icon=utilities-terminal
Exec=/usr/share/kali-menu/exec-in-shell osintS34rCh
Path=
StartupNotify=false
