[Desktop Entry]
Name=Searchfy
Comment=Performs queries on several platforms
Type=Application
Categories=05-social-media
Terminal=true
Icon=utilities-terminal
Exec=/usr/share/kali-menu/exec-in-shell sudo searchfy -h
Path=
StartupNotify=false
