[Desktop Entry]
Name=sn0int
Comment=OSINT Framework
Type=Application
Icon=utilities-terminal
Categories=08-frameworks
Terminal=true
Exec=/usr/share/kali-menu/exec-in-shell sn0int
Path=
StartupNotify=false
