[Desktop Entry]
Name=Toutatis
Comment=It is a tool written to retrieve private information such as Phone Number, Mail Address, ID on Instagram accounts via API
Type=Application
Categories=05-social-media
Terminal=true
Icon=utilities-terminal
Exec=/usr/share/kali-menu/exec-in-shell toutatis -h
Path=
StartupNotify=false
