[Desktop Entry]
Version=1.0
Type=Application
Categories=06-downloaders;
Terminal=true
Name=Browse Mirrored Websites
Comment=Browse Websites Mirrored by WebHTTrack
Keywords=browse mirrored;
Exec=webhttrack browse
Icon=httrack
Path=
StartupNotify=false
