[Desktop Entry]
Name=Youtube-DL
Comment=Launch Youtube-DL
Exec=/usr/share/kali-menu/exec-in-shell "youtube-dl --help"
Terminal=true
Categories=06-downloaders
Icon=utilities-terminal
Type=Application
Path=
StartupNotify=false
