[Desktop Entry]
Version=1.0
Type=Application
Categories=06-downloaders;
Terminal=true
Name=WebHTTrack Website Copier
Comment=Copy websites to your computer
Keywords=copy website;backup website;capture website;offline browser;surf offline;mirror;mirroring;archiving;forensics;crawl;preservation;
Exec=webhttrack
Icon=httrack
Path=
StartupNotify=false
